@import '../../global.styles.scss';

.Grid {
    display: grid;
    // grid: repeat(100px, 4) / auto-flow 120px;
    // grid-template-columns: 300px 300px 300px 300px;
    grid-gap: 3em;
    grid-template-columns: repeat(4, 300px);
    grid-auto-rows: 400px;
    // grid-template-rows: initial;
    // grid-template-rows: auto auto auto auto;
    // height: calc(100vh - 10px);
    // height: 100%;
    // place-items: start stretch;
    // align-content: end;
}
