@import '../../global.styles.scss';

.Grid {
    display: grid;
    // grid: repeat(100px, 4) / auto-flow 120px;
    // grid-template-columns: 300px 300px 300px 300px;
    grid-gap: 3em;
    grid-template-columns: repeat(4, 200px);
    // grid-template-rows: auto;
    // height: 100%;
    // place-items: start stretch;
    // align-content: end;
}
