@import '../../global.styles.scss';

.CountryGrid {
    padding: 2rem 0;
}
@media screen and (min-width: 42rem) {
    .CountryGrid {
        display: grid;
        grid-template-columns: repeat(auto-fill, 264px);
        justify-content: center;
        gap: 4rem;
    }
}
