@import '../../global.styles.scss';

.Country {
    // margin: 2em;
    // width: 80%;
    // padding: 0;
    // width: auto;
    // height: auto;
    // height: 100%;
    // width: 300px;
    // height: auto;
    // padding-top: 0;
    // padding-bottom: 20px;
    // max-width: 100%;
    border-radius: $border-radius;
    box-shadow: $element-box-shadow-light;
}

.light {
    background-color: $white;
    color: $very-dark-blue-text;
}

.dark {
    color: $white;

    background-color: $dark-blue;
    box-shadow: $element-box-shadow-dark;
}
