@import '../../global.styles.scss';

.Country {
    margin: auto;
    width: 80%;
    padding-bottom: 20px;
}
h1 {
    margin-left: 20px;
}
ul {
    list-style-type: none;
}
li {
    display: flex;
    margin-left: 20px;
}
.light {
    background-color: $white;
    color: $very-dark-blue-text;
}

.dark {
    color: $white;

    background-color: $dark-blue;
    box-shadow: $element-box-shadow-dark;
}
