@import './global.styles.scss';

.App {
    min-height: 100vh;
}

.App.light {
    background: $very-light-gray;
    color: $very-dark-blue;
}

.App.dark {
    background: $very-dark-blue;
    color: $white;
}
