/* css reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

a{
  text-decoration: none;
}

body {
  margin: 0;
  /* Global Font Family Set to Project Specified */
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
